# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 試著模仿範例寫法, 使用程車費率預測競賽練習時間欄位處理

# [作業重點]
- 新增星期幾(day of week)與第幾周(week of year)這兩項特徵, 觀察有什麼影響 (In[4], Out[4], In[5], Out[5])
- 新增加上年週期與周周期特徵 , 觀察有什麼影響 (In[8], Out[8], In[9], Out[9])

In [1]:
# 抓取資料
!wget -c https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data1.csv?t=1582795813338 -O taxi_data1.csv
!wget -c https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data2.csv?t=1582795814535 -O taxi_data2.csv

--2020-08-02 01:52:07--  https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data1.csv?t=1582795813338
Resolving ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)... 13.224.29.13, 13.224.29.112, 13.224.29.48, ...
Connecting to ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)|13.224.29.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 385116 (376K) [application/octet-stream]
Saving to: ‘taxi_data1.csv’

taxi_data1.csv      100%[===================>] 376.09K  --.-KB/s    in 0.03s

2020-08-02 01:52:07 (12.7 MB/s) - ‘taxi_data1.csv’ saved [385116/385116]

--2020-08-02 01:52:08--  https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data2.csv?t=1582795814535
Resolving ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)... 13.224.29.13, 13.224.29.112, 13.224.29.48, ...
Connecting to ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)|13.224.29.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 231626 (226K) [application/octet-stream]
Saving to: ‘taxi_data2.csv’

taxi_data2.csv      100%[===================>] 226.20K  --.-KB/s    in 0.02s

2020-08-02 01:52:08 (9.72 MB/s) - ‘taxi_data2.csv’ saved [231626/231626]

In [2]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

df = pd.read_csv('taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

           pickup_datetime  pickup_longitude  ...  dropoff_latitude  passenger_count
0  2011-10-21 23:54:10 UTC        -73.990580  ...         40.758634                2
1  2015-02-03 10:42:03 UTC        -73.988403  ...         40.741695                1
2  2014-03-16 18:58:58 UTC        -74.015785  ...         40.707888                2
3  2009-06-13 16:10:54 UTC        -73.977322  ...         40.778838                3
4  2014-06-12 03:25:56 UTC        -73.989683  ...         40.761887                3

[5 rows x 6 columns]

In [3]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

      pickup_datetime  pickup_longitude  ...  pickup_minute  pickup_second
0 2011-10-21 23:54:10        -73.990580  ...             54             10
1 2015-02-03 10:42:03        -73.988403  ...             42              3
2 2014-03-16 18:58:58        -74.015785  ...             58             58
3 2009-06-13 16:10:54        -73.977322  ...             10             54
4 2014-06-12 03:25:56        -73.989683  ...             25             56

[5 rows x 12 columns]

In [4]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.026876871475639042
Gradient Boosting Reg Score : 0.7110308967746441

# 作業1
* 對照範例，試著加入星期幾 (day of week) 與第幾周 (week of year) 這兩項特徵，  
看看結果會比原本只有時間特徵分解的結果更好或更差?

In [5]:
# 加入星期幾與第幾周兩個特徵
"""
Your Code Here
"""

df.head()

      pickup_datetime  pickup_longitude  ...  pickup_minute  pickup_second
0 2011-10-21 23:54:10        -73.990580  ...             54             10
1 2015-02-03 10:42:03        -73.988403  ...             42              3
2 2014-03-16 18:58:58        -74.015785  ...             58             58
3 2009-06-13 16:10:54        -73.977322  ...             10             54
4 2014-06-12 03:25:56        -73.989683  ...             25             56

[5 rows x 12 columns]

In [6]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.026876871475639042
Gradient Boosting Reg Score : 0.7119502947677883

In [7]:
# 加上"日週期"特徵 (參考講義"週期循環特徵")
import math
df['day_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['day_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

      pickup_datetime  pickup_longitude  ...  pickup_second  day_cycle
0 2011-10-21 23:54:10        -73.990580  ...             10  -0.025450
1 2015-02-03 10:42:03        -73.988403  ...              3   0.333601
2 2014-03-16 18:58:58        -74.015785  ...             58  -0.967083
3 2009-06-13 16:10:54        -73.977322  ...             54  -0.888817
4 2014-06-12 03:25:56        -73.989683  ...             56   0.782427

[5 rows x 13 columns]

In [8]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.026412252675043102
Gradient Boosting Reg Score : 0.7099940674779075

# 作業2
* 對照範例的日週期效果，試著參考投影片完成年週期與周週期的特徵 (也可以用你自己想到的方式)，  
看看結果會比範例中的結果更好或更差?

In [10]:
# 加上"年週期"與"周週期"特徵
"""
Your Code Here
"""
import math
df['year_cycle'] = df['pickup_month']/6 + df['pickup_day']/180
df['year_cycle'] = df['year_cycle'].map(lambda x:math.cos(x*math.pi))

df.head()

      pickup_datetime  pickup_longitude  ...  day_cycle  year_cycle
0 2011-10-21 23:54:10        -73.990580  ...  -0.025450    0.777146
1 2015-02-03 10:42:03        -73.988403  ...   0.333601    0.453990
2 2014-03-16 18:58:58        -74.015785  ...  -0.967083   -0.275637
3 2009-06-13 16:10:54        -73.977322  ...  -0.888817   -0.974370
4 2014-06-12 03:25:56        -73.989683  ...   0.782427   -0.978148

[5 rows x 14 columns]

In [11]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.02652047738022718
Gradient Boosting Reg Score : 0.7095090113612939