# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 使用並觀察特徵組合, 在計程車費率預測競賽的影響

# [作業重點]
- 仿造範例並參考今日課程內容, 使用經緯度一圈的長度比的概念造出新特徵, 觀察有什麼影響 (In[6], Out[6])
- 只使用上面所造的這個新特徵, 觀察有什麼影響 (In[7], Out[7])

In [1]:
# 抓取資料
!wget -c https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data1.csv?t=1582795813338 -O taxi_data1.csv
!wget -c https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data2.csv?t=1582795814535 -O taxi_data2.csv

--2020-08-02 02:15:33--  https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data1.csv?t=1582795813338
Resolving ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)... 99.86.255.4, 99.86.255.79, 99.86.255.45, ...
Connecting to ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)|99.86.255.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 385116 (376K) [application/octet-stream]
Saving to: ‘taxi_data1.csv’

taxi_data1.csv      100%[===================>] 376.09K   656KB/s    in 0.6s

2020-08-02 02:15:34 (656 KB/s) - ‘taxi_data1.csv’ saved [385116/385116]

--2020-08-02 02:15:35--  https://ai100-fileentity.cupoy.com/ml100/homework/data/1582795766653/taxi_data2.csv?t=1582795814535
Resolving ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)... 13.35.111.78, 13.35.111.91, 13.35.111.100, ...
Connecting to ai100-fileentity.cupoy.com (ai100-fileentity.cupoy.com)|13.35.111.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 231626 (226K) [application/octet-stream]
Saving to: ‘taxi_data2.csv’

taxi_data2.csv      100%[===================>] 226.20K   776KB/s    in 0.3s

2020-08-02 02:15:36 (776 KB/s) - ‘taxi_data2.csv’ saved [231626/231626]

In [2]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

#data_path = 'data/'
df = pd.read_csv('taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

           pickup_datetime  pickup_longitude  ...  dropoff_latitude  passenger_count
0  2011-10-21 23:54:10 UTC        -73.990580  ...         40.758634                2
1  2015-02-03 10:42:03 UTC        -73.988403  ...         40.741695                1
2  2014-03-16 18:58:58 UTC        -74.015785  ...         40.707888                2
3  2009-06-13 16:10:54 UTC        -73.977322  ...         40.778838                3
4  2014-06-12 03:25:56 UTC        -73.989683  ...         40.761887                3

[5 rows x 6 columns]

In [3]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

      pickup_datetime  pickup_longitude  ...  pickup_minute  pickup_second
0 2011-10-21 23:54:10        -73.990580  ...             54             10
1 2015-02-03 10:42:03        -73.988403  ...             42              3
2 2014-03-16 18:58:58        -74.015785  ...             58             58
3 2009-06-13 16:10:54        -73.977322  ...             10             54
4 2014-06-12 03:25:56        -73.989683  ...             25             56

[5 rows x 12 columns]

In [4]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.026876871475639042
Gradient Boosting Reg Score : 0.7098819561693352

In [5]:
# 增加緯度差, 經度差, 座標距離等三個特徵
df['longitude_diff'] = df['dropoff_longitude'] - df['pickup_longitude']
df['latitude_diff'] = df['dropoff_latitude'] - df['pickup_latitude']
df['distance_2D'] = (df['longitude_diff']**2 + df['latitude_diff']**2)**0.5
df[['distance_2D', 'longitude_diff', 'latitude_diff', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']].head()

   distance_2D  longitude_diff  ...  dropoff_longitude  dropoff_latitude
0     0.009761        0.009452  ...         -73.981128         40.758634
1     0.018307       -0.001244  ...         -73.989647         40.741695
2     0.008140        0.003756  ...         -74.012029         40.707888
3     0.021056        0.019292  ...         -73.958030         40.778838
4     0.032964        0.007193  ...         -73.982490         40.761887

[5 rows x 7 columns]

In [6]:
# 結果 : 準確度上升
train_X = scaler.fit_transform(df)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.027388172930510456
Gradient Boosting Reg Score : 0.8049289997982474

# 作業1
* 參考今日教材，試著使用經緯度一圈的長度比這一概念，組合出一個新特徵，再觀察原特徵加上新特徵是否提升了正確率?

In [14]:
import math
"""
Your Code Here, set new character at df['distance_real']
"""
df['distance_real']=np.sqrt((df['pickup_longitude']-df['dropoff_longitude'])**2 + (df['pickup_latitude']-df['dropoff_latitude'])**2)
df[['distance_2D', 'longitude_diff', 'latitude_diff', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude','distance_real']].head()

   distance_2D  longitude_diff  ...  dropoff_latitude  distance_real
0     0.009761        0.009452  ...         40.758634       0.009761
1     0.018307       -0.001244  ...         40.741695       0.018307
2     0.008140        0.003756  ...         40.707888       0.008140
3     0.021056        0.019292  ...         40.778838       0.021056
4     0.032964        0.007193  ...         40.761887       0.032964

[5 rows x 8 columns]

In [15]:
# 觀察結果 
train_X = scaler.fit_transform(df)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.027389230858636492
Gradient Boosting Reg Score : 0.805194642362105

# 作業2
* 試著只使用新特徵估計目標值(忽略原特徵)，效果跟作業1的結果比較起來效果如何?

In [16]:
train_X = scaler.fit_transform(df[['distance_real']])
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.0014280087770600636
Gradient Boosting Reg Score : 0.7354234771982402